WSDL/HsTree.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:HsTreeLookup" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:HsTreeLookup" xmlns:intf="urn:HsTreeLookup" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://common.service.dhl" xmlns:tns2="http://utility.dhl" xmlns:tns3="http://error.dhl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2.1
Built on October 25, 2005 (09:15:57 IST)-->
 <wsdl:types>
  <schema targetNamespace="urn:HsTreeLookup" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://error.dhl"/>
   <import namespace="http://utility.dhl"/>
   <import namespace="http://common.service.dhl"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="HsTreeLookupServiceException">
    <complexContent>
     <extension base="tns1:FactsServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>  
  <schema targetNamespace="http://utility.dhl" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:HsTreeLookup"/>
   <import namespace="http://error.dhl"/>
   <import namespace="http://common.service.dhl"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="NestedException">
    <sequence>
     <element name="nestedTrace" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>     
  <schema targetNamespace="http://error.dhl" xmlns="http://www.w3.org/2001/XMLSchema">
    <import namespace="urn:HsTreeLookup"/>
    <import namespace="http://utility.dhl"/>
    <import namespace="http://common.service.dhl"/>
     <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
     <complexType name="StatusCode_Base">
      <sequence>
       <element name="code" type="xsd:int"/>
       <element name="paramCount" type="xsd:int"/>
       <element name="pattern" nillable="true" type="xsd:string"/>
       <element name="type" nillable="true" type="xsd:anyType"/>
       <element name="visibility" nillable="true" type="xsd:anyType"/>
      </sequence>
     </complexType>
  </schema>	    
  <schema targetNamespace="http://common.service.dhl" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:HsTreeLookup"/>
   <import namespace="http://error.dhl"/>
   <import namespace="http://utility.dhl"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="FactsServiceException">
   <complexContent>
     <extension base="tns2:NestedException">
      <sequence>
       <element name="statusCode" nillable="true" type="tns3:StatusCode_Base"/>
       <element name="statusMessage" nillable="true" type="xsd:string"/>
       <element name="statusParams" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="FindException">
    <complexContent>
     <extension base="tns1:FactsServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>
 
   <!-- WSDL Definitions for Input Parameters, Output Parameters and Exceptions --> 

   <wsdl:message name="FindException">
   
         <wsdl:part name="fault" type="tns1:FindException"/>
   
      </wsdl:message>
         
      <wsdl:message name="runInteractiveClassifierResponse">
   
         <wsdl:part name="runInteractiveClassifierReturn" type="impl:ArrayOf_xsd_string"/>
   
      </wsdl:message>
   
      <wsdl:message name="HsTreeLookupServiceException">
   
         <wsdl:part name="fault" type="impl:HsTreeLookupServiceException"/>
   
      </wsdl:message>
       
      <wsdl:message name="runInteractiveClassifierRequest">
   
         <wsdl:part name="countryCode" type="xsd:string"/>
   
         <wsdl:part name="description" type="xsd:string"/>
   
         <wsdl:part name="codeType" type="xsd:string"/>
   
         <wsdl:part name="domain" type="xsd:string"/>
    
      </wsdl:message>
   
      
      <wsdl:portType name="HsTreeLookup">
   
         <wsdl:operation name="runInteractiveClassifier" parameterOrder="countryCode description codeType domain">
   
            <wsdl:input message="impl:runInteractiveClassifierRequest" name="runInteractiveClassifierRequest"/>
   
            <wsdl:output message="impl:runInteractiveClassifierResponse" name="runInteractiveClassifierResponse"/>
   
            <wsdl:fault message="impl:HsTreeLookupServiceException" name="HsTreeLookupServiceException"/>
   
            <wsdl:fault message="impl:FindException" name="FindException"/>
   
         </wsdl:operation>
         
      </wsdl:portType>
      
   
      <wsdl:binding name="HsTreeLookupSoapBinding" type="impl:HsTreeLookup">
   
         <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
   
         <wsdl:operation name="runInteractiveClassifier">
   
            <wsdlsoap:operation soapAction=""/>
   
            <wsdl:input name="runInteractiveClassifierRequest">
   
               <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:HsTreeLookup" use="encoded"/>
   
   	       
   
            </wsdl:input>
   
            <wsdl:output name="runInteractiveClassifierResponse">
   
               <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:HsTreeLookup" use="encoded"/>
   
            </wsdl:output>
   
            <wsdl:fault name="HsTreeLookupServiceException">
   
               <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HsTreeLookupServiceException" namespace="urn:HsTreeLookup" use="encoded"/>
   
            </wsdl:fault>
   
            <wsdl:fault name="FindException">
   
               <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="FindException" namespace="urn:HsTreeLookup" use="encoded"/>
   
            </wsdl:fault>
   
         </wsdl:operation>
        
      </wsdl:binding>
      
      
      <!-- WSDL Definitions for Server url -->
   
      <wsdl:service name="HsTreeLookupService">
   
         <wsdl:port binding="impl:HsTreeLookupSoapBinding" name="HsTreeLookup">
   
            <wsdlsoap:address location="http://tasapi.dhl.com/facts/servlet/rpcrouter"/>
   
         </wsdl:port>
   
      </wsdl:service>
   
   </wsdl:definitions>
